@model List<Library>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="text-white py-1">Library list</h4>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
         <div class="row pb-3">
        <div class="col-6"></div>
        <div class="col-6 text-end">
            <a asp-controller="Library" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i> Create
            </a>
        </div>
    </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Upload Date
                     </th>
                    <th>
                   
                    </th>
                </tr>
            </thead>
    
        </table>
    </div>
</div>

@section Scripts{
    <script src="/js/library.js"></script>
}